* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    align-content: center;
    height: 20%;
    background-color: #1f67d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    z-index: 2;
}

.items {
    width: 9vw;
    height: 4vh;
    ;
    margin: 0;
    background-color: #f8f2f2;
    /* border:0.1vw solid black; */
    align-self: center;
    /* opacity: 0.5; */
    z-index: 10;
    text-align: center;
    padding-top: 2vh;
    font-size: 0.9vw;
    border-radius: 50px;
}

.nav {
    position: fixed;
    /* border:1px solid black; */
    width: 100%;
    align-self: center;
    height: 10vh;
    background-color: #fffcfc;
    top: 0px;
    display: flex;
    /* left: 10%; */
    display: flex;
    justify-content: end;
    border-radius: 10px;
    padding-right: 3px;
    row-gap: 9vw;
    column-gap: 0.5vw;
    z-index: 2;
}

image {
    z-index: 10;
}

.items:hover {
    opacity: 1;
    background-color: rgb(200, 200, 200);
}

.startpic {
    display: block;
    position: absolute;
    width: 10vw;
    height: 10vh;
    align-self: center;
    justify-self: start;
    left: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #146aeb;
}

a:active {
    color: black;
}

a {
    color: black;
}

.content {
    position: absolute;
    width: 80%;
    height: 140%;
    top: 20vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    /* border: 2px solid black; */
    gap :100px;
    left:10%;
    justify-content: space-around;
    /* align-items: space-around; */
}


.mini{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid; */
  height:100%;
}

.logo{
    height: 30%;
}

.logo :first-child{
    font-size: 50px;
}

.mini :nth-child(2){
    height: 50%;
    align-content: start;
    justify-content: flex-start;
    font-size: larger;
}
.button{
    display: block;
    align-content: center;
    position: relative;
    height: 450%;
    top: 0;
    width: 60%;
    background-color: #5cb85c;
    color: #f9f9f9;
    left: 20%;
    margin-bottom:0%;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
}

.button:hover{
    background-color:#a0f0a0 ;
}